.pro-select-icon
  border-radius: 2px
  border: 1px solid $color-line
  height: 14px
  width: 14px
  margin-right: 18px
  background: $color-white
  transition: all 0.3s

.pro-select-icon-disable
  cursor: not-allowed
  background: #eee
  border: 1px solid #e9ecee

.pro-select-icon-active
  border: 1px solid transparent
  icon-image('icon-check')
