.normal-box
  background: $color-white
  padding: 0 20px
  box-sizing: border-box

.table
  position: relative
  flex: 1
  display: flex
  flex-direction: column
  .table-content
    display: flex
    padding: 0 20px
    background: $color-white
    flex-direction: column
    flex: 1

.tab-header
  height: 80px
  display: flex
  align-items: center
  box-sizing: border-box
  background: $color-white
  .tab-box
    margin-right: 10px

.big-list
  max-height: 645px
  background: $color-white
  overflow: visible
  display: flex
  flex-direction: column
  flex: 1

.big-list-max
  max-height: inherit
  padding-bottom: 20px

.list-header
  min-height: 45px
  font-family: $font-family-regular
  color: $color-text-main
  background: #F5F7FA
  &:after
    content: ""
    pointer-events: none // 解决iphone上的点击无效Bug
    display: block
    position: absolute
    left: 0
    top: 0
    transform-origin: 0 0
    border-top: 1px solid #E9ECEE
    border-bottom: 0.5px solid #E9ECEE
    box-sizing border-box
    width: 100%
    height: 200%
    transform: scaleY(.5) translateZ(0)
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)
      width: 100%
      height: 300%
      transform: scaleY(1 / 3) translateZ(0)
  .list-item
    white-space: nowrap
    font-size: $font-size-14
    display: flex
    align-items: center

.list-box
  padding: 0 20px
  box-sizing: border-box
  border-bottom-1px(#E9ECEE)
  display: flex
  align-items: center
  &:before
    content: ""
    pointer-events: none // 解决iphone上的点击无效Bug
    display: block
    position: absolute
    left: 0
    top: 0
    transform-origin: 0 0
    border-right: 1px solid #E9ECEE
    border-left: 1px solid #E9ECEE
    box-sizing border-box
    width: 200%
    height: 100%
    transform: scaleX(.5) translateZ(0)
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)
      width: 100%
      height: 300%
      transform: scaleX(1 / 3) translateZ(0)
  .list-item
    box-sizing: border-box
    padding-right: 20px
    flex: 1
    .list-img
      width: 45px
      height: @width
      object-fit: cover
      overflow: hidden
      border-radius: 50%

.list
  position: relative
  flex: 1
  .list-content
    font-family: $font-family-regular
    color: $color-text-main
    height: 60px
    &:nth-child(2n)
      background: #F5F7FA
    &:hover
      background: #F7FAF5
    .list-item
      no-wrap()
      font-size: $font-size-14
    // 双行样式
    .list-double-row
      .item-sub
        no-wrap()
        line-height: 1.2
        margin-top: 6px
        font-size: $font-size-14
        color: $color-text-assist
      .item-dark
        no-wrap()
        line-height: 1.2
        font-size: $font-size-14
      .item-sub-time
        no-wrap()
        margin-top: 6px
        font-size: $font-size-14
        line-height: 1.2
    .list-item-double
      white-space: normal
      line-height: 18px
      no-wrap-plus()
    .list-item-layout
      layout(row)
      align-items: center


  .list-lock
    .list-item
      color: #acacac
      .list-operation
        color: #acacac
      .list-operation-strong
        color: #acacac
        border-color: #acacac

.pagination-box
  height: 60px
  align-items: center
  display: flex

.btn-main
  position: relative
  .file-box
    position: absolute
    top: 0
    left: 0
    width: 84px
    height: 28px
    opacity: 0

.edit-input-box
  .ivu-date-picker-rel, .ivu-input-wrapper, .ivu-input
    height: 100%
  .ivu-input
    color: $color-text-assist
    font-family: $font-family-regular
  .ivu-input-icon
    height: 100%
    line-height: 40px
  .ivu-select-dropdown
    width: 240px !important
    left: 105 !important

.back
  left: 210px
  right: 0
  bottom: 0
  z-index: 10
  background: #F9F9F9
  height: 80px
  border-radius: 0 0 6px 6px
  display: flex
  align-items: center
  padding-left: 40px
  box-sizing: border-box
  justify-content: center
  border-top-1px($color-line)
  position: fixed
  .back-btn
    box-sizing: border-box
    font-size: $font-size-16
    margin-right: 20px
    height: 40px
    line-height: 40px
    width: 96px
    white-space: nowrap
    transition: all 0.3s
    text-align: center
    border-radius: 2px
  .back-submit
    background: $color-main
    color: $color-white
    &:hover
      opacity: 0.8
  .back-cancel
    box-sizing: border-box
    color: $color-text-main
    background: $color-white
    border: 1px solid $color-line
    &:hover
      color: $color-text-sub
      border-color: $color-text-sub
  .btn-disable
    cursor: not-allowed
    background: $color-line
    color: $color-text-assist

.identification
  background: $color-white
  height: 60px
  display: flex
  align-items: center
  justify-content: space-between
  box-sizing: border-box
  .identification-page
    display: flex
    align-items: center
  .identification-icon
    width: 14px
    height: 14px
    margin-right: 5px
  .identification-name
    line-height: 1
    white-space: nowrap
    font-size: $font-size-16
    font-family: $font-family-regular
    color: $color-text-main

.function-btn
  display: flex

.down-content
  padding: 0 20px
  box-sizing: border-box
  min-height: 72px
  background: $color-white
  display: flex
  align-items: center
  margin-bottom: 20px
  flex-wrap: wrap
  .down-item
    display: flex
    margin-right: 30px
  .down-item-small
    margin-right: 10px
  .down-item-text
    margin: 20px 80px 0 0
    color: $color-text-main
    .down-text
      font-size: $font-size-12
      color: $color-text-main
      white-space: nowrap
    .header-text
      font-size: $font-size-14
      color: $color-text-main
      white-space: nowrap
  .down-item-text
    margin: 20px 80px 0 0
    color: $color-text-main
    &:last-child
      margin-right: 0
    .down-text
      font-size: $font-size-12
      color: $color-text-main
      white-space: nowrap
    .header-text
      font-size: $font-size-14
      color: $color-text-main
      white-space: nowrap
  .down-tip
    font-size: $font-size-12
    color: $color-text-main
    margin-right: 10px
  .time-tip
    margin: 0 2px
    font-size: $font-size-14

.g-btn-item
  margin-left: 10px

.down-content
  .ivu-date-picker-rel, .ivu-input-wrapper, .ivu-input
    height: 100%
  .ivu-input
    color: $color-text-assist
    font-family: $font-family-regular
  .ivu-input-icon
    height: 100%
    line-height: 28px

.time-content
  .ivu-date-picker-rel, .ivu-input-wrapper, .ivu-input
    height: 100%
  .ivu-input
    color: $color-text-assist
    font-family: $font-family-regular
  .ivu-input-icon
    height: 100%
    line-height: 34px

.list-status
  display: inline-block
  width: 9px
  height: 9px
  border-radius: 50%
  margin-right: 6px
  background: $color-negative

.list-status-fail
  background: #E1E1E1

.list-status-success
  background: $color-positive

.list-status-warn
  background: #FFCB53
.order-detail
  display: flex
  padding-bottom: 30px
  .order-item
    width: 240px
    display: flex
    .order-text
      font-family: $font-family-regular
      font-size: $font-size-14
    .order-title
      color: $color-text-main
    .order-money
      min-width: 50px
      font-family: $font-family-regular
      color: $color-negative

.down-time-box
  position: relative
.down-time-text
  right: 58px
  col-center()
  font-size: 12px
  line-height: 1
  margin-top: 1px
  color: #acacac
  position: absolute
  pointer-events: none

.big-top-content
  box-sizing: border-box
  min-height: 200px
  margin-bottom: 20px
  background: $color-white
  .header-wrapper
    display: flex
    align-items: center
    height: 60px
    padding: 0 20px
    border-bottom: 1px solid $color-line
    .icon
      width: 14px
      height: 14px
      margin-right: 4px
    .title
      font-size: $font-size-16
      color: $color-text-main
  .content-wrapper
    display: flex
    align-items: center
    height: 140px
    padding: 0 20px
    .item-wrapper
      flex: 1
      display: flex
      align-items: center
      .icon-wrapper
        width: 58px
        height: 58px
        margin-right: 20px
        .icon
          width: 100%
          height: 100%
      .item-content-wrapper
        display: flex
        flex-direction: column
        justify-content: space-between
        .flex-wrapper
          display: flex
          font-size: $font-size-14
          color: $color-text-main
          align-items: center
          &.end
            align-items: flex-end
          &.margin
            margin-bottom: 10px
          .title
            line-height: 14px
            font-size: $font-size-14
          .number
            margin-right: 10px
            line-height: 32px
            font-size: 32px
            font-family: $font-family-din-bold
            color: $color-text-main
          .tip
            no-wrap()
            font-size: $font-size-14
            color: $color-text-assist
          .detail
            margin-left: 10px
            margin-right: 20px
            line-height: 14px
            font-size: $font-size-14
            color: $color-main
            text-decoration: underline
          .detail-icon
            width: 16px
            height: 16px


// 弹窗按钮样式
.btn-group
  position: absolute
  bottom: 20px
  left: 0
  width: 100%
  padding: 0 20px
  text-align: center
  display: flex
  justify-content: flex-end
  user-select: none
  .btn
    width: 96px
    height: 40px
    line-height: 40px
    border-radius: 2px
    border: 1px solid #D6D6D6
    cursor: pointer
    transition: all 0.3s
    margin-left: 10px
  .cancel
    border: 1px solid $color-line
    &:hover
      color: $color-text-sub
      border-color: $color-text-sub
  .confirm
    border: 1px solid $color-main
    background: $color-main
    color: $color-white
    &:hover
      opacity: 0.8
  .manager
    border: 1px solid $color-main
    color: $color-main
    &:hover
      opacity: 0.8
  .one-btn
    margin-left: 0
